<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="ConexaoBD" connectionString="Data Source=INVENT008;Initial Catalog=bd_jogadores;User ID=sa;Password=sap@123"
        providerName="System.Data.Client"/>
		<add name="ConexaoMeuPC" connectionString="Data Source=DEVAMORIM;Initial Catalog=db_jogador;User ID=sa;Password=admin"
        providerName="System.Data.Client"/>
	</connectionStrings>
</configuration>